*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out
}
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,900&family=Secular+One&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Secular One', sans-serif; */
a{
    text-decoration: none;
    display: inline-block;
}
body{
    font-size: 10px;
    background-color: #f0f2f5;
    position: relative;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}
.header{
   max-width: 1100px !important;
   margin:0% auto;
}
.upper_part{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70vh;
    
}
.upper_part .left_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* height: 70vh; */
    width: 40%;
}
.upper_part .left_part h2{
    color: blue;
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.upper_part .left_part p{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
.upper_part .right_part{
    width: 40%;
}

.upper_part .right_part .inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 27px 20px 40px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0px rgba(75, 74, 74, 0.281);
} 
.upper_part .right_part .inner form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(24, 1, 46, 0.178);
    margin-bottom: 20px;
}
.upper_part .right_part form input{
    width: 100%;
    margin-bottom: 14px;
    height: 50px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(32, 32, 32, 0.315);
}
.upper_part .right_part form input:focus{
    border: 1px solid rgba(32, 32, 233, 0.644);
    box-shadow: 0px 0px 4px #0066ff;
}
.upper_part .right_part form a.login{
    width: 100%;
    background-color: rgba(67, 67, 250, 0.966);
    padding: 14px ;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    border-radius: 7px;
}
.upper_part .right_part form a.login:hover{
    background-color: rgb(36, 36, 228);
}

.upper_part .right_part form a.forgot{
    width: 100%;
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;

}
.upper_part .right_part form a.forgot:hover{
    text-decoration: underline;
}
.bottom-right a{
    width: 55%;
    background-color: rgb(26, 192, 11);
    padding: 14px ;
    margin:0 auto;
    text-align: center;
    color: white;
    font-size: 1rem;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bottom-right a:hover{
    background-color: rgb(15, 148, 3);
}
.bottom-right{
    text-align: center;
}
.inner+p{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}
.inner+p a{
    font-weight: bold;
    color: black;
}

@media (max-width:1000px) {
    .upper_part{
        display: flex;
        flex-direction: column;
    }
    .upper_part .left_part{
        width: 50%;
        text-align: center;
    }
    .upper_part .left_part h2{
        margin-bottom:15px ;
        font-weight: bolder;
    }
    .upper_part .left_part p{
        font-size: 24px;
        font-weight: normal;
        width: 100%;
        text-align: center;
        margin: 0% auto;
    }
    .upper_part .right_part{
        width: 60%;
    }
}

@media (max-width:765px) {
    .upper_part{
        display: flex;
        flex-direction: column;
    }
    .upper_part .left_part{
        width: 80%;
        text-align: center;
    }
    .upper_part .left_part h2{
        margin-bottom:10px ;
        font-weight: bolder;
    }
    .upper_part .left_part p{
        font-size: 24px;
        font-weight: normal;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .upper_part .right_part{
        width: 90%;
    }
}
@media (max-width:555px) {
    .upper_part .left_part p{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .upper_part .right_part{
        width: 90%;
    }
}
.lower_part{
    background-color: #fff;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    bottom: 0%;
    margin-top: 3%;
}

.lower_part img{
    object-fit: cover;
    object-position: left;
    bottom: 0%;
}
